::selection {
  background: #2d2f36;
}
@font-face {
  font-family: JosefinSans;
  src: url("../Josefin_Sans/static/JosefinSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
::-webkit-selection {
  background: #2d2f36;
}
::-moz-selection {
  background: #2d2f36;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
  font-family: JosefinSans;
}
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 110px);
  position: relative;
  place-content: center;
  width: calc(100%);
}
@media (max-width: 767px) {
  .page {
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  margin: 0 auto;
  width: 1366px;
  min-height: 50%;
}
// Between Laptops and Tablets
@media only screen and (max-width: 1440px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}
.left {
  background: white;
  height: 40%;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    width: 70%;
  }
}
.title-lg {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #333;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #f1f1f2;
  width: 50%;
  height: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 50%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
}
label {
  color: #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner {
  border: 0;
}
#submit {
  color: #707075;
  margin-top: 20px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}
