$color-black: #c59c9c;

$color-dark-1: #2d2f36;

$color-danger-1: orangered;
$color-danger-2: #f00;
$color-danger-3: hsl(0, 100%, 30%);

$color-light-1: #fdfdfd;
$color-light-2: #c2c2c5;

$color-primary-1: hsl(131, 60%, 81%);
$color-primary-2: hsl(131, 50%, 21%);

$default-font-size: 1.6rem;
